body{
    background: plum;
    margin: 0 auto;
}
.menu{
    display: inline-block;
    
}
h1{
    color:orange;
}
p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.croissant{
    width: 600px;
    height: 300px;
    align-content: center;
}